<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

 <!-- <suite name ="Suite" <test thread-count="5" name="Test">
    <classes>
      <class name="Day1.First"/>
    </classes>
  </test>  Test -->
  
  
  
  <suite name ="Suite" thread-count="5"  parallel="tests" >
<test name = "First">
<classes>
	<class name="Day1.second"/>
</classes>
</test>



<test name="FirefoxTest">

<parameter name="browser" value="Firefox" />

<classes>

<class name="Day1.Baseclass">


</class>

</classes>

</test>




</suite> <!-- Suite -->
